@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --foreground: var(--tg-theme-text-color, #ffffff);
        --background: var(--tg-theme-secondary-bg-color, #212121);
        --hint: var(--tg-theme-hint-color, #aaaaaa);
        --link: var(--tg-theme-link-color, #8774e1);
        --secondary-bg: var(--tg-theme-bg-color, #0f0f0f);
        --header-bg: var(--tg-theme-header-bg-color, #212121);
        --accent-foreground: var(--tg-theme-accent-text-color, #8774e1);
        --section-bg: var(--tg-theme-section-bg-color, #212121);
        --section-header-text: var(--tg-theme-section-header-text-color, #aaaaaa);
        --secondary-foreground: var(--tg-theme-subtitle-text-color, #aaaaaa);
        --destructive-text: var(--tg-theme-destructive-text-color, #e53935);
        --primary-bg: #121212;
        --primary-foreground: #ffffff;
        --input: var(--tg-theme-hint-color, #aaaaaa);
        --border: #e0e0e0;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-bg: #ffffff;
            --primary-foreground: #121212;
            --border: #323131;
        }
    }
}

@layer base {
    * {
        @apply border-border;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1,
        "calt" 1;
    }
}

@layer utilities {
    @media (max-width: 640px) {
        .no-scroll {
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
        }

        .no-scroll::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}
